footer {
  display: block; 
  --light-purple-color: rgb(142, 71, 160);
  --purple-color: #5C2D91;
  --dark-purple-color: #431E70;
  --very-dark-purple-color: #250F41;
  --copyright-color: #20252d;}

  .footer {
    margin-top: 2rem; 
    margin-bottom: 0 }
    .footer a {
        text-decoration: none;
    }
    .footer__copyright {
      display: block;
      color: var(--copyright-color);
      font-size: .7em;
      letter-spacing: 1px;
      margin: 0;
      transition: 0.1s color;
      text-align: center;
      line-height: 4rem; }
      .footer__copyright span {
        color: var(--light-purple-color); }
      .footer__copyright:hover {
        color: initial; }
      .footer__copyright a {
        color: inherit; }
        .footer__copyright a:hover {
          text-decoration: underline; }
    /* .footer .logo {
      float: right; } */
      @media (max-width: 768px) {
        .footer .logo {
          justify-content: center;
          margin-bottom: 1rem; } 
        }
      .footer .logo--github {
        width: 4rem;
        height: 4rem;
        fill: var(--light-purple-color); }
    .footer__link {
      margin-left: 2rem;
      position: relative; }
      .footer__link::before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background-color: var(--purple-color);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -1.2rem; }